@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}


#IDChatU{
    height: 100vh;
    display: flex;
    margin:auto;

}


#PanelIzq{
    height: 100vh;
    background: linear-gradient(to bottom, 
    rgb(232, 28, 49) 25%, 
    rgb(165, 0, 6) 50%, 
    rgb(207, 51, 69) 75%, 
    rgb(231, 114, 108) 100%);
    border-right: 4px solid black;
    flex: 1;
    font-family: 'DeStencilNF';
    font-size: 2.5rem;
    color: RGBA( 90, 0, 0);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;
    text-align: center;

}

#FotoIcon{
    width: 100%;
}

.BotonEdit {
    background-color: rgb(160,160,160);
    color: rgb(5,14,17);
    border-color: black;
    border: 4px solid black;
    text-align: center; 
    font-size: 2.5rem; 
    margin: 4px 2px; 
    cursor: grab;
    border-radius: 12px color; 
    transition: background-color 0.3s;
}

/* Efecto hover (al pasar el ratón) */
.BotonEdit:hover {
    background-color: rgb(242,153,159);
    border-color: black;
    border: 2px solid black;
    transform: scale(1.1); /* Agranda el botón un 10% */
}

#FotoPerfil{
    width: 50%;
    height: 15%;
    border: solid 4px black;
    border-radius: 50%;
    margin: 10px;

}


#PanelInteriorIzq {
    border-right: 4px solid black;
    background: linear-gradient(to bottom, 
    rgb(64, 35, 145) 0%, 
    rgb(44, 132, 236) 20%, 
    rgb(78, 226, 240) 40%, 
    rgb(192, 235, 233) 60%, 
    rgb(244, 244, 242) 80%, 
    rgb(250, 250, 240) 100%);
    background-color: rgb(64, 35, 145);
    height: 100vh;
    flex: 2;
}

#PanelDer{
    height: 100vh;
    flex: 5;

    text-align: center;
}


#navGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas de igual tamaño */
    gap: 10px;                              /* Espacio entre los elementos */
    justify-items: center;                  /* Centra cada item horizontalmente */
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px 10px;
    font-size: 20px; 
}

.nav-link:hover {
    color: white;
}






#PanelInteriorDer {
    border-right: 4px solid black;
    background: linear-gradient(45deg, 
    rgb(214, 238, 225) 0%, 
    rgb(69, 218, 255) 20%, 
    rgb(132, 72, 255) 40%, 
    rgb(132, 72, 255) 60%, 
    rgb(69, 218, 255) 80%, 
    rgb(214, 238, 225) 100%);
    height: 100vh;
    flex: 3;
}

#Encabezado{
    
    background-image: linear-gradient(45deg, rgb(251, 235, 94), rgb(173, 1, 6));
    border-bottom: 4px solid black;
    height: 90px;
    flex: 10;
}



/* Estilos de la barra lateral */
.sidebar {
    color: black;

    padding: 10px;

}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;


}

.Usu21 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;

    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde verde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

/* Estilo para la clase .Usu2 */
.Usu2 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;


    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde de línea discontinua naranja */
    border-radius: 12px; /* Bordes más redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

.Usu2:hover{
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}

.conversation-list {
    list-style: none;
    padding: 0;
}

.conversation-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.conversation-list li:hover {
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}

.conversation-list li.active {
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}



.profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info h3 {
    margin: 0;
}





/* Estilos del contenedor principal */
.chat-container {
    flex-grow: 1;
    padding: 15px;
}

.chat-header {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    background: linear-gradient(45deg, 
    rgb(255, 177, 0) 25%, 
    rgb(255, 198, 0) 50%, 
    rgb(255, 215, 0) 75%, 
    rgb(255, 230, 0) 100%);


    border: 4px solid black; 
    border-radius: 12px; 
    padding: 10px; 
    margin-bottom: 10px; 
}

.chat-header h2 {
    font-size: 40px; /* Cambia el tamaño del texto a 24px o el valor deseado */
}


.chat-header .btn{
    background-color: rgb(87,87,87);
    color: rgb(3, 1, 2);
    text-align: center;
    font-size: 30px;
    position: relative;

}

.chat-header .btn:hover{
    background-color: rgb(208,208,208);
    color: rgb(212, 104, 0);
}



/* Estilos del contenedor principal */
.chat-container {
    flex-grow: 1;
    background-color: #dcdbff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 45px;
}

.chat-header {
    border-radius: 10px;
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.chat-header h2 {
    font-size: 40px; /* Cambia el tamaño del texto a 24px o el valor deseado */
}
.chat-header h2 {
    margin-top: 10px;
    margin-left: 28px;
}


.chat-messages {
    max-width: 1500px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
    max-height: 600px; /* Ajusta la altura máxima según tu preferencia */
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.message-info {
    display: flex;
    align-items: center;
    font-size: 14px; /* Ajusta el tamaño de la fuente según lo deseado */
}


.message-count.offline {
    background-color: #4c5f55;/* Color de fondo para la notificación */
    color: #fff; /* Color del texto de la notificación */
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px; /* Tamaño de la fuente de la notificación */
}

.message-count.online {
    background-color: #3CB371; /* Color de fondo para la notificación */
    color: #fff; /* Color del texto de la notificación */
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px; /* Tamaño de la fuente de la notificación */
}

.message-time {
    color: #999; /* Color del texto de la hora de envío */
}


.outgoing {
    width: 35%;/* Coloca los mensajes salientes en el lado derecho */
    margin-left: 900px;
    background-color: #aaa8f0;
}

.incoming {
    width: 35%;
    margin-left: 50px;
    background-color: #fff;
}

/* Estilos de la composición del mensaje */
.compose {
    margin-top: 40px;
    margin-left: 25px;
    position: fixed;
    bottom: 0;
    width: 80%;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    z-index: 1;
}

.compose input {
    flex: 1;
    width: 750px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.compose button {
    background-color: #403f5b;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: auto; /* Ajusta el ancho automáticamente para el contenido */
    margin-right: 10px; /* Agrega margen a la derecha para separar el botón del borde */
}
