
@media only screen and(max-width: 600px){

}
@media only screen and(min-width: 601px){

}
@media only screen and(min-width:1025px){
    
} 

#idNav1{
    background-color: rgb(12, 45, 87);
    /*position: absolute;*/
}

#idTituloTienda{
    margin-left: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}

#idNavLinks1{
    font-family: Tahoma;
    font-size: 20px;
}

#idNavOptions1{
    color: white;
    font-weight: bold;
}

#idBuscador{
    width: 700px;
    height: 45px;
}

#idBuscadorCaja{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#idIconoBuscar{
    background-color: rgb(112, 194, 233);
    fill: rgb(12, 45, 87);
    height: 45px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#idCarrito{
    color: white;
    font-family: Tahoma;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

#idNav2{
    background-color: rgb(252, 103, 54);
    height: 40px;
    /*position: absolute;
    width: 100%;
    top: 11%;
    position: fixed;*/
}

#idNavLinks2{
    font-family: Tahoma;
    margin-right: 50px;
    font-size: 15px;
}

#idNavOptions2{
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-inline: 50px;
}

@media(max-width: 576px) {
	.contacts_card {
		margin-bottom: 15px !important;
	}
}