

/* Estilos generales */
Body{
    background-image: url("../Images/POI/Edit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container */
.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

p strong {
    color: #333;
}

/* Buttons */
.btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Alerts */
.alert {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}



@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

#IDChatU{
    height: 100vh;
    display: flex;
    margin:auto;

}


#PanelIzq{
    height: 100vh;
    background: linear-gradient(to bottom, 
    rgb(232, 28, 49) 25%, 
    rgb(165, 0, 6) 50%, 
    rgb(207, 51, 69) 75%, 
    rgb(231, 114, 108) 100%);
    border-right: 4px solid black;
    flex: 1;
    font-family: 'DeStencilNF';
    font-size: 2.5rem;
    color: RGBA( 90, 0, 0);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;
    text-align: center;

}

#FotoIcon{
    width: 100%;
}

.BotonEdit {
    background-color: rgb(160,160,160);
    color: rgb(5,14,17);
    border-color: black;
    border: 4px solid black;
    text-align: center; 
    font-size: 2.5rem; 
    margin: 4px 2px; 
    cursor: grab;
    border-radius: 12px color; 
    transition: background-color 0.3s;
}

/* Efecto hover (al pasar el ratón) */
.BotonEdit:hover {
    background-color: rgb(242,153,159);
    border-color: black;
    border: 2px solid black;
    transform: scale(1.1); /* Agranda el botón un 10% */
}

#FotoPerfil{
    width: 50%;
    height: 15%;
    border: solid 4px black;
    border-radius: 50%;
    margin: 10px;

}


#PanelInteriorIzq {
    border-right: 4px solid black;
    background: linear-gradient(to bottom, 
    rgb(64, 35, 145) 0%, 
    rgb(44, 132, 236) 20%, 
    rgb(78, 226, 240) 40%, 
    rgb(192, 235, 233) 60%, 
    rgb(244, 244, 242) 80%, 
    rgb(250, 250, 240) 100%);
    background-color: rgb(64, 35, 145);
    height: 100vh;
    flex: 2;
}

#PanelDer{
    height: 100vh;
    flex: 5;

    text-align: center;
}


#navGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas de igual tamaño */
    gap: 10px;                              /* Espacio entre los elementos */
    justify-items: center;                  /* Centra cada item horizontalmente */
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px 10px;
    font-size: 20px; 
}

.nav-link:hover {
    color: white;
}






#PanelInteriorDer {
    border-right: 4px solid black;
    background: linear-gradient(45deg, 
    rgb(214, 238, 225) 0%, 
    rgb(69, 218, 255) 20%, 
    rgb(132, 72, 255) 40%, 
    rgb(132, 72, 255) 60%, 
    rgb(69, 218, 255) 80%, 
    rgb(214, 238, 225) 100%);
    height: 100vh;
    flex: 3;
}

#Encabezado{
    
    background-image: linear-gradient(45deg, rgb(251, 235, 94), rgb(173, 1, 6));
    border-bottom: 4px solid black;
    height: 90px;
    flex: 10;
}



/* Estilos de la barra lateral */
.sidebar {
    color: black;

    padding: 10px;

}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;


}

.Usu21 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;

    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde verde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

/* Estilo para la clase .Usu2 */
.Usu2 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;


    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde de línea discontinua naranja */
    border-radius: 12px; /* Bordes más redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

.Usu2:hover{
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(207, 21, 21) 25%, 

    rgb(255, 0, 0) 25%, 
    rgb(207, 21, 21) 25%, 

    rgb(255, 0, 0) 25%, 
    rgb(207, 21, 21) 25%, 

    rgb(255, 0, 0) 25%, 
    rgb(207, 21, 21) 25%);
}

.conversation-list {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;


    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde de línea discontinua naranja */
    border-radius: 12px; /* Bordes más redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

.conversation-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

