@media only screen and(max-width: 600px){

}
@media only screen and(min-width: 601px){

}
@media only screen and(min-width:1025px){
    
} 
/* CUERPO */

Body{
    background-image: url("../Images/POI/Onlinemenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#idRegister{
    background-color: rgba(119, 119, 119, 0.75);
    box-shadow: 0px 0px 10px 8px rgba(20, 16, 22, 0.3);
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;
    width: max-content;
    padding: 20px 40px 40px 40px;
    font-family: Tahoma;
}

#idRegisterTitulo{
    -webkit-text-fill-color: RGBA( 250, 0, 1);
    -webkit-text-stroke: 0.25px white;
    margin-top: 10px;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    display: flex;
}

#idRegisterAvatar{
    padding-top: 35px;
    margin-right: 10px;
    box-shadow: 20px 10px 20px 8px rgba(20, 16, 22);
}

#idRegisterAvatarSample{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 4px rgba(20, 16, 22);
}

#grupo_pic{
    background-color: rgb(238, 146, 157);
    border-color: rgb(0, 0, 0);
    margin-bottom: 5px;
    border-radius: 50px;
    transition: 150ms;
}

#grupo_pic label{
    cursor: pointer;
}

#grupo_pic:hover{
    background-color: rgb(249, 1, 1);
    border-color: rgb(0, 0, 0);
}

/* PRIMERA MITAD */

#idRegisterInputs{
    position: relative;
    /*margin: 30px 0;*/
    width: 450px;
    margin-top: 18px;
    font-weight: bolder;
    border-bottom: 2px solid rgb(70, 0, 0);
}

#idRegisterInputs input:hover{
    background-color: rgb(248, 217, 12);
}

#idRegisterInputs.inputbox.item.item-1 label{
    margin-top: 10px;
}

#idRegisterInputs.inputbox.item.item-2 label{
    margin-top: 35px;
}

#idRegisterInfo{
    -webkit-text-fill-color: #fff;
    position:absolute;
    display: flex;
    font-weight: normal;
}

.inputbox input{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 8px 0 5px;
}

#idRegisterRB{
    margin-top: 10px;
    margin-bottom: 10px;
}

#idRegisterRB .text{
    font-weight: bolder;
    margin-top: 10px;
}

#idRegisterRB #inlineRadio1{
    margin-left: 5px;
}

#idRegisterRB div input.form-check-input:checked{
    background-color: rgb(249, 1, 1);
    border-color: rgb(249, 1, 1);
    outline: none;
}

#idRegisterPrivacy{
    position: relative;
    margin-top: 18px;
    font-weight: bolder;
}


#btnNextPrev{
    background-color: rgb(249, 1, 1);
    color: white;
    justify-content: center;
    display:flex;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 5px;
    width: 190px;
    border-radius: 18px;
    border: none;
    font-size: 22px;
    transition: 200ms;
}

#btnNextPrev:hover{
    background-color: rgb(249, 1, 1);
}

/* SEGUNDA MITAD */

#idRegisterStep{
    color:rgb(50, 0, 1);
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
}


#idRegisterRol{
    background-color: rgb(249, 1, 1);
    color: rgb(50, 0, 1);
    width: 100%;
    margin-top: 40px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: 200ms;
    border: none;
    outline: none;
}

#idRegisterRol:hover{
    background-color: rgb(50, 0, 1);
}

#idRegisterRol:focus{
    background-color: rgb(249, 1, 1);
    color: black;
}

#idRegisterRol .item-1, #idRegisterChB .item-1{
    color: white;
    background-color: rgb(12, 45, 87);
}

#idRegisterRol option{
    color: black;
}

#idRegisterChB{
    background-color: rgb(112, 194, 233);
    color: white;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 17px;
    transition: 200ms;
    border: none;
    outline: none;
}

#idRegisterChB:hover{
    background-color: rgb(94, 166, 218);
}

#idRegisterChB:focus{
    background-color: rgb(94, 166, 218);
    color: black;
}

#idRegisterChB:disabled{
    background-color: #A2A2A2;
}

#idRegisterChB:disabled:hover{
    background-color: rgb(118, 118, 118);
}

#idRegisterChB option{
    color: black;
}

#ChBPrivado:checked{
    background-color: rgb(118, 118, 118);
    border-color: rgb(118, 118, 118);
}

#idRegisterBtns2{
    margin-top: -10px;
}

#btnRegister{
    background-color: rgb(50, 0, 1);
    color: white;
    justify-content: center;
    float: inline-end;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 5px;
    width: 100%;
    border-radius: 18px;
    border: none;
    font-size: 22px;
    transition: 200ms;
}

#btnRegister:hover{
    background-color: rgb(249, 1, 1);
    font-size: 28px;
    border-radius: 25px;
}

#idRegisterImgRelleno{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#Return{
    text-align: center;
}

#idEmail{
    align-items: center;
    justify-content: center;
}
#Return li a{

    font-size: 1.5rem;
    text-decoration: none;
    -webkit-text-fill-color: RGBA( 218, 2, 3);
    -webkit-text-stroke: 0.25px white;
    font-weight: bold;
    transition: .3s;
}

#Return li a:hover{
    font-size: 1.5rem;
    -webkit-text-fill-color: RGBA( 250, 0, 1);
    -webkit-text-stroke: 0.25px white;
    text-decoration:double;
}



@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}


#IDChatU{
    height: 100vh;
    display: flex;
    margin:auto;

}


#PanelIzq{
    height: 100vh;
    background: linear-gradient(to bottom, 
    rgb(232, 28, 49) 25%, 
    rgb(165, 0, 6) 50%, 
    rgb(207, 51, 69) 75%, 
    rgb(231, 114, 108) 100%);
    border-right: 4px solid black;
    flex: 1;
    font-family: 'DeStencilNF';
    font-size: 2.5rem;
    color: RGBA( 90, 0, 0);
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;
    text-align: center;

}

#FotoIcon{
    width: 100%;
}

.BotonEdit {
    background-color: rgb(160,160,160);
    color: rgb(5,14,17);
    border-color: black;
    border: 4px solid black;
    text-align: center; 
    font-size: 2.5rem; 
    margin: 4px 2px; 
    cursor: grab;
    border-radius: 12px color; 
    transition: background-color 0.3s;
}

/* Efecto hover (al pasar el ratón) */
.BotonEdit:hover {
    background-color: rgb(242,153,159);
    border-color: black;
    border: 2px solid black;
    transform: scale(1.1); /* Agranda el botón un 10% */
}

#FotoPerfil{
    width: 50%;
    height: 15%;
    border: solid 4px black;
    border-radius: 50%;
    margin: 10px;

}


#PanelInteriorIzq {
    border-right: 4px solid black;
    background: linear-gradient(to bottom, 
    rgb(64, 35, 145) 0%, 
    rgb(44, 132, 236) 20%, 
    rgb(78, 226, 240) 40%, 
    rgb(192, 235, 233) 60%, 
    rgb(244, 244, 242) 80%, 
    rgb(250, 250, 240) 100%);
    background-color: rgb(64, 35, 145);
    height: 100vh;
    flex: 2;
}

#PanelDer{
    height: 100vh;
    flex: 5;

    text-align: center;
}


#navGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 columnas de igual tamaño */
    gap: 10px;                              /* Espacio entre los elementos */
    justify-items: center;                  /* Centra cada item horizontalmente */
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px 10px;
    font-size: 20px; 
}

.nav-link:hover {
    color: white;
}






#PanelInteriorDer {
    border-right: 4px solid black;
    background: linear-gradient(45deg, 
    rgb(214, 238, 225) 0%, 
    rgb(69, 218, 255) 20%, 
    rgb(132, 72, 255) 40%, 
    rgb(132, 72, 255) 60%, 
    rgb(69, 218, 255) 80%, 
    rgb(214, 238, 225) 100%);
    height: 100vh;
    flex: 3;
}

#Encabezado{
    
    background-image: linear-gradient(45deg, rgb(251, 235, 94), rgb(173, 1, 6));
    border-bottom: 4px solid black;
    height: 90px;
    flex: 10;
}



/* Estilos de la barra lateral */
.sidebar {
    color: black;

    padding: 10px;

}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;


}

.Usu21 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;

    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde verde */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

/* Estilo para la clase .Usu2 */
.Usu2 {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1.5px black;


    background: linear-gradient(45deg, 
    rgb(156, 156, 156) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
    border: 4px solid black; /* Borde de línea discontinua naranja */
    border-radius: 12px; /* Bordes más redondeados */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Separación entre los elementos */
}

.Usu2:hover{
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}

.conversation-list {
    list-style: none;
    padding: 0;
}

.conversation-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.conversation-list li:hover {
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}

.conversation-list li.active {
    background: linear-gradient(45deg, 
    rgb(255, 0, 0) 25%, 
    rgb(218, 218, 218) 25%, 

    rgb(99, 99, 99) 50%, 
    rgb(152, 152, 152) 50%, 


    rgb(143, 143, 143) 75%, 
    rgb(186, 186, 186) 75%, 

    rgb(177, 177, 177) 100%,
    rgb(211, 211, 211) 100%);
}



.profile-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info h3 {
    margin: 0;
}





/* Estilos del contenedor principal */
.chat-container {
    flex-grow: 1;
    padding: 15px;
}

.chat-header {
    font-family: 'DeStencilNF';
    font-size: 1.8rem;

    background: linear-gradient(45deg, 
    rgb(255, 177, 0) 25%, 
    rgb(255, 198, 0) 50%, 
    rgb(255, 215, 0) 75%, 
    rgb(255, 230, 0) 100%);


    border: 4px solid black; 
    border-radius: 12px; 
    padding: 10px; 
    margin-bottom: 10px; 
}

.chat-header h2 {
    font-size: 40px; /* Cambia el tamaño del texto a 24px o el valor deseado */
}


.chat-header .btn{
    background-color: rgb(87,87,87);
    color: rgb(3, 1, 2);
    text-align: center;
    font-size: 30px;
    position: relative;

}

.chat-header .btn:hover{
    background-color: rgb(208,208,208);
    color: rgb(212, 104, 0);
}



/* Estilos del contenedor principal */
.chat-container {
    flex-grow: 1;
    background-color: #dcdbff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 45px;
}

.chat-header {
    border-radius: 10px;
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.chat-header h2 {
    font-size: 40px; /* Cambia el tamaño del texto a 24px o el valor deseado */
}
.chat-header h2 {
    margin-top: 10px;
    margin-left: 28px;
}


.chat-messages {
    max-width: 1500px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
    max-height: 600px; /* Ajusta la altura máxima según tu preferencia */
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.message-info {
    display: flex;
    align-items: center;
    font-size: 14px; /* Ajusta el tamaño de la fuente según lo deseado */
}


.message-count.offline {
    background-color: #4c5f55;/* Color de fondo para la notificación */
    color: #fff; /* Color del texto de la notificación */
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px; /* Tamaño de la fuente de la notificación */
}

.message-count.online {
    background-color: #3CB371; /* Color de fondo para la notificación */
    color: #fff; /* Color del texto de la notificación */
    padding: 2px 6px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 12px; /* Tamaño de la fuente de la notificación */
}

.message-time {
    color: #999; /* Color del texto de la hora de envío */
}


.outgoing {
    width: 35%;/* Coloca los mensajes salientes en el lado derecho */
    margin-left: 900px;
    background-color: #aaa8f0;
}

.incoming {
    width: 35%;
    margin-left: 50px;
    background-color: #fff;
}

/* Estilos de la composición del mensaje */
.compose {
    margin-top: 40px;
    margin-left: 25px;
    position: fixed;
    bottom: 0;
    width: 80%;
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    z-index: 1;
}

.compose input {
    flex: 1;
    width: 750px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.compose button {
    background-color: #403f5b;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: auto; /* Ajusta el ancho automáticamente para el contenido */
    margin-right: 10px; /* Agrega margen a la derecha para separar el botón del borde */
}